@use 'variables';
@use 'reset';

aside {
    height: 100vh;
}

.top {

    margin-top: 1rem;

    #close-btn {
        display: none;
    }

    .logo {

        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 2rem;
            width: 2rem;
            position: relative;
            margin-right: 0.3rem;
        }

        h2 {
            display: inline;
            font-size: 1.15rem;
            color: variables.$main-color;
        }
    }
}

.sidebar {

    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        
        img {
            height: 5rem;
            width: 5rem;
            background-color: variables.$main-color-dark;
            padding: 0.5rem;
            border-radius: 12px;
            margin-bottom: 0.5rem;
            transition: all 400ms ease;
        }
    }

    a.active {
        img {
            background-color: variables.$main-color;
        }
    }

    a:hover {
        img {
            background-color: variables.$main-color-light;
        }
    }

    p {
        text-align: center;
        font-weight: 600;
        margin-bottom: 2rem;
    }
}