@use 'variables';
@use 'reset';

.total-data {
    width: 100%;
    border: 3px solid variables.$main-color;
    border-radius: 12px;
    padding: 1.2rem;
    margin-bottom: 3rem;

    p {
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: 600;

        span[id] {
            color: variables.$main-color;
        }

        %pie-legend {
            width: 0.65rem;
            height: 0.65rem;
            display: inline-block;
            margin-right: 0.65rem;
        }

        .pie-legend-dead {
            @extend %pie-legend;
            background-color: variables.$main-color-dark;
        }

        .pie-legend-healed {
            @extend %pie-legend;
            background-color: variables.$main-color;
        }

        .pie-legend-positives {
            @extend %pie-legend;
            background-color: variables.$main-color-light;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.total-data-pie {
    display: flex;
    justify-content: center;
    background-color: variables.$main-color-light;
    padding: 1.2rem;
    border-radius: 12px;
    
}

.italy-map {
    border: 3px solid variables.$main-color;
    padding: 1.2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    p {
        margin-bottom: 2rem;
        font-weight: 600;
        font-size: 1.2rem;
    }

    svg {

        path {
            fill: variables.$main-color-dark;
            transition: 400ms;
            cursor: pointer;
        }

        path.region-active {
            fill: variables.$main-color;
        }

        path:hover {
            fill: variables.$main-color-light;
        }
    }
}

#region-data {

    background-color: variables.$main-color-light;
    border-radius: 12px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;


    h3 {
        margin-bottom: 1.2rem;
    }

    p {
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: 600;
    }

    p:last-child {
        margin-bottom: 0;
    }
}