@use 'variables';
@use 'reset';

.total-col {
    grid-area: total-col;
}

.total-data {
    border: 3px solid variables.$main-color;
    border-radius: 12px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;

    p {
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: 600;

        span[id] {
            color: variables.$main-color;
        }

        %pie-legend {
            width: 0.65rem;
            height: 0.65rem;
            display: inline-block;
            margin-right: 0.65rem;
        }

        .pie-legend-dead {
            @extend %pie-legend;
            background-color: variables.$main-color-dark;
        }

        .pie-legend-healed {
            @extend %pie-legend;
            background-color: variables.$main-color;
        }

        .pie-legend-positives {
            @extend %pie-legend;
            background-color: variables.$main-color-light;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.total-data-pie {
    display: flex;
    justify-content: center;
    align-items: center;
    
    grid-area: total-data-pie;

    #pie-chart {
        max-width: 12rem;
        max-height: 12rem;
        background-color: variables.$main-color-light;
    padding: 1.2rem;
    border-radius: 12px;
    }
    
}

.italy-map {
    border: 3px solid variables.$main-color;
    padding: 1.2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: italy-map;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        margin-bottom: 2rem;
        font-weight: 600;
        font-size: 1.2rem;
    }

    svg {

        max-height: 55rem;

        path {
            fill: variables.$main-color-dark;
            transition: 400ms;
            cursor: pointer;
            stroke: variables.$background-main-color;
        }

        path.region-active {
            fill: variables.$main-color;
        }

        path:hover {
            fill: variables.$main-color-light;
        }
    }
}

.region-area {
    grid-area: region-area;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#region-data {

    background-color: variables.$main-color-light;
    border-radius: 12px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    color: variables.$text-main-color;

    p {
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: 600;
    }

    p:last-child {
        margin-bottom: 0;
    }
}